.back {
  width: 100%;
  height: 100%;

  background-color: #999999bb;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #eee;

  padding: 10px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  width: 80%;

  font-size: 1rem;
  text-align: center;
}

.correct {
  font-size: 2rem;
  font-weight: 600;
}

.resetButton {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;

  cursor: pointer;
}
