.back {
  width: 100%;
  height: 100%;

  background-color: #999999bb;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;

  background-color: #eee;

  padding: 20px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 600;

  margin: 0;
}

p {
  width: 80%;

  font-size: 1.25rem;
  text-align: center;

  text-wrap: balance;

  margin: 5px 0;
}

.correct {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 6px;

  margin: 15px 0;
}

.resetButton {
  width: 250px;
  height: 50px;

  font-size: 1.25rem;
  font-family: "Outfit", sans-serif;

  cursor: pointer;
}
