.letterBox {
  width: 50px;
  height: 50px;

  @media all and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }

  @media all and (min-width: 1280px) {
    width: 75px;
    height: 75px;
  }

  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;

  border: 2px solid #666;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}
