.letterBox {
  width: 50px;
  height: 50px;

  @media all and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }

  @media all and (min-width: 1280px) {
    width: 75px;
    height: 75px;
  }

  border: 2px solid #666;
  border-radius: 2px;
}
