@import "@fontsource/outfit/600";

.heading {
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;

  margin: 0;

  @media all and (width >= 768px) {
    font-size: 3rem;
  }

  @media all and (width >= 1280px) {
    font-size: 4rem;
  }
}
