.heading {
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;

  margin: 0;

  @media all and (min-width: 768px) {
    font-size: 3rem;
  }

  @media all and (min-width: 1280px) {
    font-size: 4rem;
  }
}
