.keyboardWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.keyboardKey {
  width: 30px;
  height: 45px;

  background-color: #ccc;

  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;

  cursor: pointer;

  &:hover {
    border: 2px solid black;
  }
}

.wideKey {
  width: 50px;
}

.enterKey {
  font-size: 26px;
}
