.keyboardWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.keyboardKey {
  width: 30px;
  height: 45px;

  @media all and (width >= 768px) {
    width: 40px;
    height: 55px;

    font-size: 1.2rem;
  }

  @media all and (width >= 1280px) {
    width: 50px;
    height: 65px;

    font-size: 1.5rem;
  }

  background-color: #ccc;

  border: none;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;

  cursor: pointer;

  &:hover {
    border: 2px solid black;
  }
}

.wideKey {
  width: 50px;

  @media all and (min-width: 768px) {
    width: 60px;
  }

  @media all and (min-width: 1280px) {
    width: 75px;
  }
}

.enterKey {
  font-size: 1.625rem;

  @media all and (min-width: 1280px) {
    font-size: 1.8rem;
  }
}

.notIncluded,
.included,
.exact {
  animation: color 0.3s forwards;
  animation-delay: 600ms;
}

.included {
  --target-bg: #dfa253;
}

.exact {
  --target-bg: #50d676;
}

.notIncluded {
  --target-bg: #858585;
}

@keyframes color {
  0% {
    transform: scale(1);
    background-color: #ccc;
  }
  50% {
    transform: scale(0.95);
  }
  /* 99% {
    background-color: #ccc;
  } */
  100% {
    transform: scale(1);
    background-color: var(--target-bg);
  }
}
