:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;

  background-color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;

  @media all and (min-width: 768px) {
    gap: 2rem;
  }

  @media all and (min-width: 1280px) {
    gap: 3rem;
  }
}
